body {
  font-family: 'Space Mono', monospace;
  background-color: hsl(185, 41%, 84%);
}

button {
  width: 85%;
  margin-top: 25%;
  margin-bottom: 10%;
  height: 2.8rem;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  font-weight: 700;
  border-radius: 5px;
  font-size: 16px;
}

h1 {
  color: hsl(183, 100%, 15%);
}

.container {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
}

.colHalf {
  display: flex;
  flex-direction: column;
}

.calcBox {
  width: 800px;
  height: 400px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  align-items: center;
  justify-content: space-evenly;
}

.tipBox {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: hsl(183, 100%, 15%);
  margin-left: 2rem;
  width: 40%;
  justify-content: center;
  align-items: center;
}

.billBox {
  width: 40%;
}

.tipAmt {
  width: 60px;
}

.tipRow {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.tipTextCol {
  margin-right: 4rem;
}

.totalTextCol {
  margin-right: 6rem;
}

.tipNum {
  font-size: 34px;
  color: hsl(172, 67%, 45%);
}

.smlFont {
  font-size: 14px;
  font-weight: 500;
  color: hsl(184, 14%, 56%);
}

.lrgFont {
  color: hsl(189, 41%, 97%);
}
