.container {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.tipBox {
  border-radius: 10%;
  background-color: hsl(183, 100%, 15%);
}
