.container {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.tipBox {
  border-radius: 8%;
  background-color: hsl(183, 100%, 15%);
  margin-left: 2rem;
}

.tipAmt {
  width: 60px;
}
